._text_w400_16px{
  font-family: poppins ;
  font-weight:400 ;
  font-size: 16px;
}

._text_w500_16px{
  font-family: poppins ;
  font-weight:500 ;
  font-size: 16px;
}

._text_w600_16px{
  font-family: poppins ;
  font-weight:600 ;
  font-size: 16px;
}

._text_w400_18px{
  font-family: poppins ;
  font-weight:400 ;
  font-size: 18px
}
._text_w600_16px{
  font-family: poppins ;
  font-weight:600;
  font-size: 16px;

}

._text_w600_22px{
  font-family: poppins ;
  font-weight:600 ;
  font-size: 22px;
}
._text_w700_16px{
  font-family: poppins ;
  font-weight:700;
  font-size: 16px;

}

._text_w700_32px{
  font-family: poppins ;
  font-weight:700;
  font-size: 32px;
}

._text_w700_40px{
  font-family: poppins ;
  font-weight:700 ;
  font-size: 40px;
}









